# Supplemental Report: An Observation of the Data Science Market using an ETL Approach

* Desmond Walker
* Lito Biala
* Chike Uduku

## Extract

In [7]:
#Import Dependencies
import pandas as pd
import os

In [8]:
#Specify file names
file_name1 = "JobCategories.csv"
file_name2 = "multipleChoiceResponses.xlsx"
folder = "Resources"

In [9]:
#Formulate file paths
file_path1 = os.path.join(folder,file_name1)
file_path2 = os.path.join(folder,file_name2)

In [10]:
#Read first file into data frame and preview it
df1 = pd.read_csv(file_path1)
df1.head()

,position,JobTitle,company,description,reviews,location
0,Development Director,Developer,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,Research,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Other,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [11]:
#Read second file into data frame and preview it
df2 = pd.read_excel(file_path2)
df2.head()

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Transform

In [12]:
#Get job category series
jc_ser = df1["JobTitle"].unique()
jc_ser

array(['Developer', 'Research', 'Scientist', 'Analyst', 'Other',
       'Engineer', 'Data Scientist', 'DBA', 'Architect', 'Manager',
       'Sales', 'Systems Administrator'], dtype=object)

In [13]:
#Get series for languages associated with data science
lang_ser = df2["LanguageRecommendationSelect"].unique()
lang_ser

array(['F#', 'Python', 'R', 'SQL', nan, 'Java', 'Matlab', 'C/C++/C#',
       'SAS', 'Stata', 'Other', 'Julia', 'Scala', 'Haskell'], dtype=object)

In [14]:
#Get series for tools used for Machine Learning
ml_tools_ser = df2["MLToolNextYearSelect"].unique()
ml_tools_ser

array(['SAS Base', 'Python', 'Amazon Web services', 'TensorFlow',
       'Google Cloud Compute', 'Microsoft Excel Data Mining', 'C/C++',
       'Other', 'DataRobot', nan, 'Amazon Machine Learning', 'R',
       'Spark / MLlib', "I don't plan on learning a new tool/technology",
       'Microsoft Azure Machine Learning', 'Hadoop/Hive/Pig',
       'Mathematica', 'Stan', 'SQL', 'Jupyter notebooks', 'Orange',
       'KNIME (free version)', 'SAP BusinessObjects Predictive Analytics',
       'Julia', 'Tableau', 'Java', 'IBM Watson / Waton Analytics',
       'NoSQL', 'Oracle Data Mining/ Oracle R Enterprise',
       'SAS Enterprise Miner',
       'Microsoft R Server (Formerly Revolution Analytics)',
       'Microsoft SQL Server Data Mining', 'TIBCO Spotfire', 'Weka',
       'MATLAB/Octave', 'KNIME (commercial version)', 'Unix shell / awk',
       'Perl', 'Minitab', 'RapidMiner (commercial version)', 'IBM Cognos',
       'Cloudera', 'IBM SPSS Modeler',
       'Statistica (Quest/Dell-formerly Statsoft)',
       'Salfrod Systems CART/MARS/TreeNet/RF/SPM',
       'RapidMiner (free version)', 'Flume', 'QlikView', 'Angoss',
       'IBM SPSS Statistics', 'SAS JMP', 'Impala'], dtype=object)

In [15]:
#Get series for most commonly used machine learning methods
ml_mthd_ser = df2["MLMethodNextYearSelect"].unique()
ml_mthd_ser

array(['Random Forests', 'Deep learning', 'Neural Nets', 'Text Mining',
       'Genetic & Evolutionary Algorithms', 'Link Analysis', nan,
       'Rule Induction', 'Regression', 'Proprietary Algorithms',
       "I don't plan on learning a new ML/DS method",
       'Ensemble Methods (e.g. boosting, bagging)', 'Factor Analysis',
       'Social Network Analysis', 'Monte Carlo Methods',
       'Time Series Analysis', 'Other', 'Bayesian Methods',
       'Survival Analysis', 'MARS', 'Anomaly Detection',
       'Cluster Analysis', 'Decision Trees', 'Association Rules',
       'Uplift Modeling', 'Support Vector Machines (SVM)'], dtype=object)

## Load

In [1]:
#Import MonogoDB dependencies
import pymongo

In [2]:
#define a connection string and create a database client
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
#Create database if it does not exist and make connection to it
myDB = client["DataSciDB"]

In [5]:
myDB

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'DataSciDB')

In [20]:
#Create a collection called Job Categories and insert previously obtained job categories series data into the collection
for ser in jc_ser:
    myDB.DS_Job_Categories.insert_one({"CategoryName":ser})

In [21]:
#Create a collection called DS_Languages and insert previously obtained data science language series data into collection
for lang in lang_ser:
    myDB.DS_Languages.insert_one({"LanguageName":lang})

In [22]:
#Create a collection called Ml_Tools and insert previously obtained machine learning tools data in collection
for tool in ml_tools_ser:
    myDB.Ml_Tools.insert_one({"ToolName":tool})

In [23]:
#Create a collection called Ml_Methods and insert previuosly obtained machine learning methods data in collection
for method in ml_mthd_ser:
    myDB.Ml_Methods.insert_one({"MethodName":method})